n8n/rambo-onboarding-workflow.json
{
  "name": "RAMBO - Auto Onboarding (Stripe \u2192 GHL Sub-Account)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rambo-onboarding",
        "options": {}
      },
      "id": "webhook-stripe",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-type-check",
              "leftValue": "={{ $json.type }}",
              "rightValue": "checkout.session.completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-event",
      "name": "Filter: checkout.session.completed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract customer data from Stripe checkout session\nconst event = $input.first().json;\nconst session = event.data?.object || event;\n\nconst customerEmail = session.customer_details?.email || session.customer_email || '';\nconst customerName = session.customer_details?.name || '';\nconst businessName = session.metadata?.business_name || customerName + \"'s Business\";\nconst phone = session.customer_details?.phone || '';\nconst amountPaid = (session.amount_total || 0) / 100;\nconst currency = (session.currency || 'gbp').toUpperCase();\nconst stripeCustomerId = session.customer || '';\nconst stripeSessionId = session.id || '';\n\n// Split name\nconst nameParts = customerName.split(' ');\nconst firstName = nameParts[0] || '';\nconst lastName = nameParts.slice(1).join(' ') || '';\n\nreturn [{\n  json: {\n    customerEmail,\n    customerName,\n    firstName,\n    lastName,\n    businessName,\n    phone,\n    amountPaid,\n    currency,\n    stripeCustomerId,\n    stripeSessionId\n  }\n}];"
      },
      "id": "extract-data",
      "name": "Extract Customer Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/locations/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"companyId\": \"lk6Qi8cYfry2FJNJ2pLU\",\n  \"name\": \"{{ $json.businessName }}\",\n  \"email\": \"{{ $json.customerEmail }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"address\": \"\",\n  \"city\": \"\",\n  \"state\": \"\",\n  \"country\": \"GB\",\n  \"postalCode\": \"\",\n  \"timezone\": \"Europe/London\",\n  \"settings\": {\n    \"allowDuplicateContact\": false,\n    \"allowDuplicateOpportunity\": false,\n    \"allowFacebookNameMerge\": true\n  }\n}",
        "options": {}
      },
      "id": "create-ghl-location",
      "name": "Create GHL Sub-Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "GHL Agency API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge customer data with new location data\nconst customerData = $('Extract Customer Data').first().json;\nconst locationResponse = $input.first().json;\n\nconst locationId = locationResponse.id || locationResponse.location?.id || 'UNKNOWN';\nconst locationName = locationResponse.name || locationResponse.location?.name || customerData.businessName;\n\nreturn [{\n  json: {\n    ...customerData,\n    locationId,\n    locationName,\n    createdAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "merge-data",
      "name": "Merge Location + Customer Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/locations/{{ $json.locationId }}/pipelines",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"name\": \"RAMBO Lead Pipeline\",\n  \"stages\": [\n    { \"name\": \"New Lead\", \"position\": 0 },\n    { \"name\": \"Qualifying\", \"position\": 1 },\n    { \"name\": \"Appointment Set\", \"position\": 2 },\n    { \"name\": \"Showed\", \"position\": 3 },\n    { \"name\": \"Closed - Won\", \"position\": 4 },\n    { \"name\": \"Closed - Lost\", \"position\": 5 }\n  ]\n}",
        "options": {}
      },
      "id": "create-pipeline",
      "name": "Create Default Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "GHL Agency API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/locations/{{ $json.locationId }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"tags\": [\n    \"rambo-lead\",\n    \"price-shopper\",\n    \"curious\",\n    \"busy-lead\",\n    \"unqualified\",\n    \"appointment-set\",\n    \"no-show\",\n    \"follow-up-needed\",\n    \"reactivation\"\n  ]\n}",
        "options": {}
      },
      "id": "create-tags",
      "name": "Create Default Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "GHL Agency API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"*RAMBO - New Client Onboarded*\\n\\n*Business:* {{ $json.businessName }}\\n*Name:* {{ $json.customerName }}\\n*Email:* {{ $json.customerEmail }}\\n*Paid:* {{ $json.currency }} {{ $json.amountPaid }}\\n*GHL Location ID:* {{ $json.locationId }}\\n*Stripe Session:* {{ $json.stripeSessionId }}\\n\\nSub-account created. Pipeline + tags configured. Ready for onboarding call - just needs socials connected.\"\n}",
        "options": {}
      },
      "id": "slack-notify",
      "name": "Slack: Notify Kevin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer RESEND_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"from\": \"SETT3R <hello@sett3r.com>\", \"to\": [\"{{ $json.customerEmail }}\"], \"subject\": \"Your SETT3R account is live.\", \"html\": \"<!DOCTYPE html><html><head>  <meta charset=\\\"utf-8\\\">  <meta name=\\\"viewport\\\" content=\\\"width=device-width, initial-scale=1.0\\\">  <title>Welcome to SETT3R</title></head><body style=\\\"margin:0; padding:0; background-color:#0a0a0f; font-family:\\\\'Courier New\\\\', monospace;\\\">  <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"background-color:#0a0a0f; padding:40px 20px;\\\">    <tr>      <td align=\\\"center\\\">        <table width=\\\"600\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"max-width:600px;\\\">          <!-- Green top bar -->          <tr>            <td style=\\\"height:3px; background-color:#39ff14;\\\"></td>          </tr>          <!-- Header -->          <tr>            <td style=\\\"background-color:#12121a; padding:30px 40px; border-left:1px solid #1e1e2e; border-right:1px solid #1e1e2e;\\\">              <table width=\\\"100%\\\">                <tr>                  <td>                    <span style=\\\"color:#39ff14; font-size:24px; font-weight:bold; letter-spacing:2px;\\\">SETT3R</span>                    <br>                    <span style=\\\"color:#555566; font-size:11px; letter-spacing:3px;\\\">AI APPOINTMENT SETTER</span>                  </td>                  <td align=\\\"right\\\">                    <span style=\\\"color:#39ff14; font-size:11px;\\\">&#9679; ACCOUNT ACTIVE</span>                  </td>                </tr>              </table>            </td>          </tr>          <!-- Body -->          <tr>            <td style=\\\"background-color:#12121a; padding:10px 40px 30px; border-left:1px solid #1e1e2e; border-right:1px solid #1e1e2e;\\\">              <p style=\\\"color:#c0c0d0; font-size:15px; line-height:1.7; margin:0 0 20px;\\\">                Hey {{ $json.businessName }},              </p>              <p style=\\\"color:#c0c0d0; font-size:14px; line-height:1.7; margin:0 0 20px;\\\">                Your SETT3R account is live. While your VA is reading this email, your AI setter is already ready to go.              </p>              <!-- Terminal block -->              <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"margin:20px 0;\\\">                <tr>                  <td style=\\\"background-color:#0a0a0f; border:1px solid #1e1e2e; border-radius:6px; padding:20px;\\\">                    <p style=\\\"color:#c0c0d0; font-size:13px; line-height:2; margin:0;\\\">                      <span style=\\\"color:#39ff14;\\\">$&gt;</span> Account created<br>                      <span style=\\\"color:#39ff14;\\\">$&gt;</span> CRM provisioned<br>                      <span style=\\\"color:#39ff14;\\\">$&gt;</span> Builder access: <a href=\\\"https://sett3r.com/login\\\" style=\\\"color:#39ff14;\\\">sett3r.com/login</a><br>                      <span style=\\\"color:#39ff14;\\\">$&gt;</span> Status: awaiting configuration_                    </p>                  </td>                </tr>              </table>              <p style=\\\"color:#c0c0d0; font-size:14px; line-height:1.7; margin:20px 0;\\\">                Here\\\\'s what happens next:              </p>              <!-- Steps -->              <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\" style=\\\"margin:0 0 25px;\\\">                <tr>                  <td style=\\\"padding:10px 0; border-bottom:1px solid #1e1e2e;\\\">                    <span style=\\\"color:#39ff14; font-size:20px; font-weight:bold; opacity:0.3; margin-right:12px;\\\">01</span>                    <span style=\\\"color:#c0c0d0; font-size:13px;\\\"><strong style=\\\"color:#c0c0d0;\\\">Configure your setter</strong> - Log in to the builder, add your business details, personality, and qualifying questions. Takes 5 minutes.</span>                  </td>                </tr>                <tr>                  <td style=\\\"padding:10px 0; border-bottom:1px solid #1e1e2e;\\\">                    <span style=\\\"color:#39ff14; font-size:20px; font-weight:bold; opacity:0.3; margin-right:12px;\\\">02</span>                    <span style=\\\"color:#c0c0d0; font-size:13px;\\\"><strong style=\\\"color:#c0c0d0;\\\">Book your onboarding call</strong> - 15 minutes. We connect your Instagram, SMS, and calendar. You can do this from the builder once your config hits 80%.</span>                  </td>                </tr>                <tr>                  <td style=\\\"padding:10px 0;\\\">                    <span style=\\\"color:#39ff14; font-size:20px; font-weight:bold; opacity:0.3; margin-right:12px;\\\">03</span>                    <span style=\\\"color:#c0c0d0; font-size:13px;\\\"><strong style=\\\"color:#c0c0d0;\\\">Go live</strong> - SETT3R starts responding to every inbound lead instantly. You get a weekly summary of conversations, bookings, and no-shows recovered.</span>                  </td>                </tr>              </table>              <!-- CTA Button -->              <table width=\\\"100%\\\" cellpadding=\\\"0\\\" cellspacing=\\\"0\\\">                <tr>                  <td align=\\\"center\\\" style=\\\"padding:10px 0 20px;\\\">                    <a href=\\\"https://sett3r.com/login\\\" style=\\\"display:inline-block; background-color:#39ff14; color:#0a0a0f; font-weight:bold; font-size:13px; letter-spacing:2px; padding:14px 32px; border-radius:4px; text-decoration:none; font-family:\\\\'Courier New\\\\', monospace;\\\">                      OPEN BUILDER &gt;&gt;                    </a>                  </td>                </tr>              </table>              <p style=\\\"color:#555566; font-size:12px; line-height:1.7; margin:10px 0 0;\\\">                Questions? Just reply to this email. A human will answer. Ironic, we know.              </p>            </td>          </tr>          <!-- Footer -->          <tr>            <td style=\\\"background-color:#0a0a0f; padding:20px 40px; border-top:1px solid #1e1e2e;\\\">              <p style=\\\"color:#555566; font-size:10px; margin:0; letter-spacing:1px;\\\">                SETT3R // Built by Flowstate Systems              </p>              <p style=\\\"color:#555566; font-size:10px; margin:5px 0 0;\\\">                <a href=\\\"https://sett3r.com\\\" style=\\\"color:#39ff14; text-decoration:none;\\\">sett3r.com</a>                &nbsp;&nbsp;|&nbsp;&nbsp;                <a href=\\\"https://flowstatesystems.ai\\\" style=\\\"color:#555566; text-decoration:none;\\\">flowstatesystems.ai</a>              </p>            </td>          </tr>          <!-- Green bottom bar -->          <tr>            <td style=\\\"height:3px; background-color:#39ff14;\\\"></td>          </tr>        </table>      </td>    </tr>  </table></body></html>\"}",
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Email: Welcome Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        420
      ]
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "Filter: checkout.session.completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: checkout.session.completed": {
      "main": [
        [
          {
            "node": "Extract Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Customer Data": {
      "main": [
        [
          {
            "node": "Create GHL Sub-Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GHL Sub-Account": {
      "main": [
        [
          {
            "node": "Merge Location + Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Location + Customer Data": {
      "main": [
        [
          {
            "node": "Create Default Pipeline",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Default Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Default Pipeline": {
      "main": [
        [
          {
            "node": "Slack: Notify Kevin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Default Tags": {
      "main": [
        [
          {
            "node": "Email: Welcome Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "RAMBO"
    }
  ]
}